{% extends 'core/base.html' %}
{% block content %}
{% load static %}

<!-- Cart Area Start -->
{% if request.session.cart|length < 1 %}
    <!-- Empty Cart area start -->
    <div class="empty-cart-area pb-100px pt-100px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-heading">
                        <h2>Your cart item</h2>
                    </div>
                    <div class="empty-text-contant text-center">
                        <i class="pe-7s-shopbag"></i>
                        <h3>There are no more items in your cart</h3>
                        <a class="empty-cart-btn" href="{% url 'products' %}">
                            <i class="fa fa-arrow-left"></i> Continue shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Empty Cart area end -->
{% else %}
    {% load cart_tag %}
    <div class="cart-main-area pt-100px pb-100px">
        <div class="container">
            <h3 class="cart-page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <form method="POST" action="{% url 'order_item' %}">
                        {% csrf_token %}
                        <div class="table-content table-responsive cart-table-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Unit Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in request.session.cart.items %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#"><img class="img-responsive ml-15px" src="{{ value.image }}" alt="Product Image" /></a>
                                        </td>
                                        <td class="product-name"><a href="#">{{ value.name }}</a></td>
                                        <td class="product-price-cart"><span class="amount">NRP.{{ value.price }}</span></td>
                                        <td class="product-quantity">
                                            <div class="cart_quantity_buttom">
                                                <input class="cart-plus-minus-box" type="text" name="quantity_{{ key }}" value="{{ value.quantity }}" readonly />
                                            </div>
                                        </td>
                                        <td class="product-subtotal">NRP. {{ value.price|multiply:value.quantity }}</td>
                                        <td class="product-remove">
                                            <a href="{% url 'item_clear' key %}" class="btn btn-danger">Remove</a>
                                        </td>
                                    </tr>

                                    <!-- Hidden inputs to send product data -->
                                    <input type="hidden" name="product_id_{{ key }}" value="{{ key }}">
                                    <input type="hidden" name="price_{{ key }}" value="{{ value.price }}">
                                    <input type="hidden" name="image_{{ key }}" value="{{ value.image }}">
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <a href="{% url 'products' %}">Continue Shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-lm-30px">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                                    </div>
                                    <!-- Coupon input can be added here if needed -->
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12 mt-md-30px">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div>
                                    <h5>Total products <span>NRP. {{ cart_total_amount }}</span></h5>
                                    <div class="total-shipping">
                                        <h5>Total shipping</h5>
                                    </div>
                                    <h4 class="grand-totall-title">
                                        Grand Total <span>NRP. {{ cart_total_amount|add:200|add:300 }}</span>
                                    </h4>
                            
                                    <form method="post" action="{% url 'place_order' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="amount" value="{{ cart_total_amount }}">
                                        <button type="submit" class="btn btn-outline-dark current-btn text-light">Checkout</button>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}
