{% extends 'core/base.html' %}

{% block content %}
<h1>Reset your password</h1>

{% if validlink %}
<!-- templates/registration/password_reset_confirm.html -->
<!-- templates/registration/password_reset_confirm.html -->
<h2>Reset Your Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password </button>
</form>

{% else %}
<p>The password link was invalid, possibly because it has already been used.</p>
{% endif %}


{% endblock content %}
