{% extends 'core/base.html' %}
{% block content %}
{% load static %}
<!-- About section Start -->
<div class="about-area pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-wrapper text-center">
                    <div class="about-contant">
                        <h2 class="title">
                            <span>{{ about.title }}</span>
                            With Smart Devices
                        </h2>
                        <p>{{ about.content }}</p>
                    </div>
                    
                    <div class="promo-video">
                        <img src="{% static 'assets/images/hero/inner-img/car.jpg' %}" alt="">
                        <a href="https://youtu.be/Hx64uvCA_zQ" class="venobox overlay-box" data-vbtype="video"><span
                            class="fa fa-play"><i class="ripple"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section End -->
{% endblock content %}