{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container mx-auto px-4 py-8">

    <!-- Related Products Section -->
    {% if related_products %}
    <h2 class="text-3xl font-bold mb-6 text-center">Recommended Products Based on Your Past Orders & Reviews</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-12">
        {% for product in related_products %}
        <div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:scale-105 relative group">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-cover">
            </a>
            <div class="p-4">
                <h3 class="text-xl font-semibold mb-2">
                    <a href="{% url 'product_detail' product.id %}" class="text-gray-800 hover:text-gray-600">
                        {{ product.name | truncatewords:8 }}
                    </a>
                </h3>
                <p class="text-gray-600 mb-2">Price: NRP.{{ product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center text-gray-600">No related products available based on your past orders and reviews.</p>
    {% endif %}

    <!-- All Categories Top-Rated Products Section -->
    <h2 class="text-3xl font-bold mb-6 text-center">Top-Rated Products Across All Categories</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for product in best_products %}
        <div class="bg-white rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:scale-105 relative group">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-full h-48 object-cover">
            </a>
            <div class="p-4">
                <h3 class="text-xl font-semibold mb-2">
                    <a href="{% url 'product_detail' product.id %}" class="text-gray-800 hover:text-gray-600">
                        {{ product.name | truncatewords:8 }}
                    </a>
                </h3>
                <p class="text-gray-600 mb-2">Price: NRP.{{ product.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
