<!DOCTYPE html>
<html lang="zxx" dir="ltr">



<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API – Electronics E-Commerce </title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="API-Smart Product E-Commerce">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/font.awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
   
    <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/rating.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <!-- Swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    
</head>

<body>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var swiper = new Swiper(".swiper-container", {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".wishlist-form").submit(function (e) {
            e.preventDefault(); // Prevent default form submission
            var form = $(this);
            var url = form.attr("action"); // Get the form action URL
            var formData = form.serialize(); // Serialize form data

            $.ajax({
                type: "POST",
                url: url,
                data: formData,
                success: function (response) {
                    if (response.success) {
                        alert(response.message); // Show success message
                        location.reload(); // Reload the page to update the wishlist
                    } else {
                        alert(response.message); // Show error message
                    }
                },
                error: function () {
                    alert("Something went wrong. Please try again.");
                }
            });
        });
    });
</script>



    <div class="main-wrapper">
        <header>
            <!-- Header top area start -->
            <div class="header-top">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div class="welcome-text">
                                <p>World Wide Completely Free Returns and Shipping</p>
                            </div>
                        </div>
                        <div class="col d-none d-lg-block">
                            <div class="top-nav">
                                <ul>
                                    <li><a href="tel:+977 9860080165"><i class="fa fa-phone"></i> +977 9860080165</a></li>
                                    <li><a href="mailto:trksachin890@gmail.com"><i class="fa fa-envelope-o"></i> trksachin890@gmail.com</a></li>
                                    <!-- <li><a href="my-account.html"><i class="fa fa-user"></i> Account</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end -->
            <!-- Header action area start -->
            <div class="header-bottom  d-none d-lg-block">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'assets/images/logo/logo1.png' %}" alt="Site Logo" class="img-fluid" style="max-width: 50px; height: auto;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="/search" method="get">
                                    <input type="text" placeholder="Search" name="query" id="query"/>
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="header-action-num">{{request.session.cart|length}}</span>
                                    <!-- <span class="cart-amount">€30.00</span> -->
                                </a>
                                <a href="#offcanvas-account" class="header-action-btn header-action-btn-account offcanvas-toggle pr-0">
                                    <i class="fa fa-user"></i>
                                    <span class="header-action-text">Account</span>
                                </a>
                                <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- Header action area start -->
            <div class="header-bottom d-lg-none sticky-nav style-1">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'assets/images/logo/logo1.png' %}" alt="Site Logo" class="img-fluid" style="max-width: 50px; height: auto;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="/search" method="get">
                                    <input type="text" placeholder="Search" name="query" id="query"/>
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="header-action-num">{{request.session.cart|length}}</span>
                                    <!-- <span class="cart-amount">€30.00</span> -->
                                </a>
                                <a href="#offcanvas-account" class="header-action-btn header-action-btn-account offcanvas-toggle pr-0">
                                    <i class="fa fa-user"></i>
                                    <span class="header-action-text">Account</span>
                                </a>
                                <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- header navigation area start -->
            <div class="header-nav-area d-none d-lg-block sticky-nav">
                <div class="container">
                    <div class="header-nav">
                        <div class="main-menu position-relative">
                            <ul>
                                
                                <li class="dropdown"><a href="{% url 'home' %}">Home <i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'products' %}">Products</a></li>
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li><a href="{% url 'recommendation_system' %}">Recommended Products</a></li>
                                <li><a href="{% url 'dashbord' %}">Dashbord</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header navigation area end -->
            <div class="mobile-search-box d-lg-none">
                <div class="container">
                    <!-- mobile search start -->
                    <div class="search-element max-width-100">
                        <form action="/search" method="get">
                            <input type="text" placeholder="Search" name="query" id="query"/>
                            <button><i class="pe-7s-search"></i></button>
                        </form>
                    </div>
                    <!-- mobile search start -->
                </div>
            </div>
        </header>
        <!-- offcanvas overlay start -->
        <div class="offcanvas-overlay"></div>
        <!-- offcanvas overlay end -->
       <!-- OffCanvas Wishlist Start -->
        
<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
    <div class="inner">
        <div class="head">
            <span class="title">Wishlist</span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">
            {% if request.user.is_authenticated %}
                {% if wishlists and wishlists.count > 0 %}  <!-- Check if wishlist has items -->
                    <ul class="minicart-product-list">
                       
                            {% for i in wishlists %}
                                <li>
                                    <a href="#" class="image">
                                        <img src="{{ i.product.image.url }}" alt="{{ i.product.name }}">
                                    </a>
                                    <div class="content">
                                        <a href="#" class="title">{{ i.product.name|truncatewords:10 }}</a>
                                        <span class="quantity-price">
                                            <span class="amount">NRP. {{ i.product.price }}</span>
                                            <a href="{% url 'cart_add' i.product.id %}" class="add-to-cart" title="Add to Cart" style="margin-left: 8px; font-size: 16px; text-decoration: none;">
                                                🛒 
                                            </a>
                                        </span>
                                        <a href="{% url 'remove_from_wishlist' i.product.id %}" class="remove">×</a>
                                    </div>
                                </li>
                            {% endfor %}
                        
                        
                    </ul>
                {% else %}
                   <!-- Empty Cart area start -->
<div class="empty-cart-area pb-100px pt-100px">
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="cart-heading">
                
            </div>
            <div class="empty-text-contant text-center">
                <i class="pe-7s-shopbag"></i>
                <h3>There are no more items in your Wishlist</h3>
                <a class="empty-cart-btn" href="{% url 'products' %}">
                    <i class="fa fa-arrow-left"> </i> Continue shopping
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>
    
                {% endif %}
            {% else %}
                <p class="text-center">
                    Please <a href="{% url 'login' %}">log in</a> to view your wishlist.
                </p>
            {% endif %}
        </div>

        {% if request.user.is_authenticated and wishlists.count > 0 %}
        <div class="foot">
            <div class="buttons">
                <a href="{% url 'wishlist' %}" class="btn btn-dark btn-hover-primary mt-30px">View Wishlist</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<!-- OffCanvas Wishlist End -->


        <!-- OffCanvas Wishlist End -->
<!-- OffCanvas Cart Start -->
{% load cart_tag %}
        
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
    <div class="inner">
        <div class="head">
            <span class="title">Cart</span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">
            <ul class="minicart-product-list">

                {% if request.session.cart|length < 1 %}
<!-- Empty Cart area start -->
<div class="empty-cart-area pb-100px pt-100px">
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="cart-heading">
            <h2>Your cart item</h2>
        </div>
        <div class="empty-text-contant text-center">
            <i class="pe-7s-shopbag"></i>
            <h3>There are no more items in your cart</h3>
            <a class="empty-cart-btn" href="{% url 'products' %}">
                <i class="fa fa-arrow-left"> </i> Continue shopping
            </a>
        </div>
    </div>
</div>
</div>
</div>
<!-- Empty Cart area end -->


{% else %}


                {% for key,value in request.session.cart.items %}
             <li>
                    <a href="#" class="image"><img src=" {{value.image}}" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="#" class="title">{{value.name|truncatechars:20}} </a>
                        <span class="quantity-price">{{value.quantity}} x <span class="amount">NRP.{{value.price}}</span></span>
                        <a href="{% url 'item_clear' key %}" class="remove">×</a>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="foot">
            <div class="buttons mt-30px">
                <a href="{% url 'cart_detail' %}" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                <form method="post" action="{% url 'order_item' %}">
                    {% csrf_token %}
                    <input value="{{cart_total_amount}}" name="amount" hidden>
                <a  class="btn btn-outline-dark current-btn"><button type="submit" class="text-Light">Checkout</button></a>
            </form>
            </div>
        </div>
    </div>
</div>
        <!-- i edited -->
        <div id="offcanvas-account" class="offcanvas offcanvas-account">
            <div class="inner">
                {% if user.is_authenticated %}
                <!-- Header for Authenticated Users -->
                <div class="head">
                    <span class="title">My Account</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <!-- Body Section for Authenticated Users -->
                <div class="body customScroll">
                    <ul class="account-links">
                        <li><a href="{% url 'dashbord' %}">Dashboard</a></li>
                        <li><a href="{% url 'order_item' %}">Orders</a></li>
                        <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                        
                    </ul>
                </div>
                <!-- Footer Section for Authenticated Users -->
                <div class="foot">
                    <div class="buttons mt-30px">
                        <a href="{% url 'logout' %}" class="btn btn-outline-dark current-btn">Logout</a>
                    </div>
                </div>
                {% else %}
                <!-- Login Section for Unauthenticated Users -->
                <a href="{% url 'login' %}" class="login-icon" style="font-size: 20px;">
                    <i class="fa fa-lock fa-2x"></i> Login
                </a>
                {% endif %}
            </div>
        </div>
        
        
        <!-- Account Section for Authenticated Users -->
        
        
                

        <!-- edited end -->
        
        <!-- OffCanvas Menu Start -->
        <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
            <button class="offcanvas-close"></button>
            <div class="user-panel">
                <ul>
                    <li><a href="tel:+977 9860080165"><i class="fa fa-phone"></i> +977 9860080165</a></li>
                    <li><a href="mailto:trksachin890@gmail.com"><i class="fa fa-envelope-o"></i> trksachin890@gmail.com</a></li>
                    <!-- <li><a href="my-account.html"><i class="fa fa-user"></i> Account</a></li> -->
                </ul>
            </div>
            <div class="inner customScroll">
                <div class="offcanvas-menu mb-4">
                    <ul>
                        <li><a href="#"><span class="menu-text">Home</span></a>
                            <ul class="sub-menu">
                                <li><a href="{% url 'home' %}"><span class="menu-text">Home 1</span></a></li>
                                <li><a href="{% url 'home' %}"><span class="menu-text">Home 2</span></a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li>
                            <a href="#"><span class="menu-text">Pages</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><span class="menu-text">Inner Pages</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="order-tracking.html">Order Tracking</a></li>
                                        <li><a href="faq.html">Faq Page</a></li>
                                        <li><a href="coming-soon.html">Coming Soon Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><span class="menu-text"> Other Shop Pages</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'cart_detail' %}">Cart Page</a></li>
                                        <li><a href="{% url 'order_item' %}">Checkout Page</a></li>
                                        
                                        <li><a href="{% url 'wishlist' %}">Wishlist Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><span class="menu-text">Related Shop Page</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="{% url 'dashbord' %}">Dashboard</a></li>
                                        <li><a href="login.html">Login & Register Page</a></li>
                                        <li><a href="empty-cart.html">Empty Cart Page</a></li>
                                        <li><a href="thank-you-page.html">Thank You Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="menu-text">Shop</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><span class="menu-text">Shop Page</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                                        <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                                        <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                        <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                        <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                                        </li>
                                        <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                        </li>
                                        <li><a href="cart.html">Cart Page</a></li>
                                        <li><a href="{% url 'order_item' %}">Checkout Page</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><span class="menu-text">product Details Page</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Product Single</a></li>
                                        <li><a href="single-product-variable.html">Product Variable</a></li>
                                        <li><a href="single-product-affiliate.html">Product Affiliate</a></li>
                                        <li><a href="single-product-group.html">Product Group</a></li>
                                        <li><a href="single-product-tabstyle-2.html">Product Tab 2</a></li>
                                        <li><a href="single-product-tabstyle-3.html">Product Tab 3</a></li>
                                        <li><a href="single-product-slider.html">Product Slider</a></li>
                                        <li><a href="single-product-gallery-left.html">Product Gallery Left</a>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><span class="menu-text">Single Product Page</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="single-product-gallery-right.html">Product Gallery
                                                Right</a> </li>
                                        <li><a href="single-product-sticky-left.html">Product Sticky Left</a>
                                        </li>
                                        <li><a href="single-product-sticky-right.html">Product Sticky Right</a>
                                        </li>
                                        
                                        <li><a href="wishlist.html">Wishlist Page</a></li>
                                        <li><a href="{% url 'dashbord' %}">Dashboard</a></li>
                                        <li><a href="login.html">Login & Register Page</a></li>
                                        <li><a href="empty-cart.html">Empty Cart Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="menu-text">Blog</span></a>
                            <ul class="sub-menu">
                                <li><a href="blog-grid.html">Blog Grid Page</a></li>
                                <li><a href="blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>
                                <li><a href="blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>
                                <li><a href="blog-list.html">Blog List Page</a></li>
                                <li><a href="blog-list-left-sidebar.html">List Left Sidebar</a></li>
                                <li><a href="blog-list-right-sidebar.html">List Right Sidebar</a></li>
                                <li><a href="blog-single.html">Blog Single Page</a></li>
                                <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
                                <li><a href="blog-single-right-sidebar.html">Single Right Sidbar</a>
                            </ul>
                        </li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
                <!-- OffCanvas Menu End -->
                <div class="offcanvas-social mt-auto">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{% block content %}{% endblock content %}
        <!-- Footer Area Start -->
        <div class="footer-area">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <div class="footer-logo">
                                        <a href="{% url 'home' %}">
                                            <img src="{% static 'assets/images/logo/logo1.png' %}" alt="Site Logo" class="img-fluid" style="max-width: 50px; height: auto;" />
                                        </a>
                                    </div>
                                    <p class="about-text">The practice of buying and selling goods or services using the Internet
                                    </p>
                                    <ul class="link-follow">
                                        <li>
                                            <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Services</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="{% url 'dashbord' %}">Dashbord</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'contact' %}">Contact</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'cart_detail' %}">Shopping cart</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'products' %}">Shop</a></li>
                                                {% if user.is_authenticated %}
                                                <li class="li"><a class="single-link" href="{% url 'logout' %}">Services Logout</a></li>
                                                    {% else %}
                                                <li class="li"><a class="single-link" href="{% url 'login' %}">Services Login</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">My Account</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="{% url 'dashbord' %}">Dashbord </a></li>
                                                <li class="li"><a class="single-link" href="{% url 'about' %}">About</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'recommendation_system' %}">Recommended Products</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-12">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Contact Info</h4>
                                    <div class="footer-links">
                                        <!-- News letter area -->
                                        <p class="address">Address: Balkot,Lalitpur.</p>
                                        <p class="phone">Phone/Fax:<a href="tel:+977 9860080165"> +977 9860080165</a></p>
                                        <p class="mail">Email:<a href="mailto:trksachin890@.com"> trksachin890@gmail.com</a></p>
                                        <p class="mail"><a href="https://trksachin890@gmail.com/"> trksachin890@gmail.com</a></p>
                                        <!-- News letter area  End -->
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="line-shape-top line-height-1">
                            <div class="row flex-md-row-reverse align-items-center">
                             
                                <div class="col-md-6 text-center text-md-start">
                                    <p class="copy-text"> © 2025 <strong>API</strong> Made With <i class="fa fa-heart"
                                        aria-hidden="true"></i> By <a class="company-name" href="https://themeforest.net/user/codecarnival/portfolio">
                                            <strong> Botstrap </strong></a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End -->
    </div>
    {% for i in product %}
<div class="modal modal-2 fade" id="exampleModal-{{ forloop.counter }}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> 
                    <i class="pe-7s-close"></i>
                </button>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                        <!-- Swiper -->
                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper">
                                {% for img in i.images_set.all %}
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="{{ img.image.url }}" alt="">
                                </div>
                                
                                {% endfor %}
                            </div>
                        </div>
                        <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                            <div class="swiper-wrapper">
                                {% for img in i.images_set.all %}
                                <div class="swiper-slide">
                                    <img class="img-responsive m-auto" src="{{ img.image.url }}" alt="">
                                </div>
                                
                                {% endfor %}
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-buttons">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                        <div class="product-details-content quickview-content">
                            <h2>{{ i.name|truncatewords:10 }}</h2>
                            <div class="pricing-meta">
                                <ul class="d-flex">
                                    <li class="new-price">NRP. {{ i.price }}</li>
                                </ul>
                            </div>
                            
                            
                            <p class="mt-30px">{{ i.description | safe }}</p>

                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>Categories: </span>
                                <ul class="d-flex">
                                    <li>
                                        <a href="#">{{ i.category }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                <span>Tags: </span>
                                <ul class="d-flex">
                                    {% for tag in i.tags.all %}
                                    <li>
                                        <a href="#">{{ tag.name }}</a>
                                    </li>
                                    {% empty %}
                                    <li>No tags available</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="pro-details-quality">
                               
                                <div class="pro-details-cart">
                                    <a href="{% url 'cart_add' i.id %}">
                                        <button class="add-cart">Add To Cart</button>
                                    </a>
                                </div>
                                
                                <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                    <a href="{% url 'add_to_wishlist' i.id %}"><i class="pe-7s-like"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

    <!-- Modal end -->
    <!-- Modal Cart -->
     {% for i in product %}
    <div class="modal customize-class fade" id="exampleModal-Cart-{{forloop.counter}}" tabindex="-1"   aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                    <div class="tt-modal-messages">
                        <i class="pe-7s-check"></i> Added to cart successfully!
                    </div>
                    <div class="tt-modal-product">
                        <div class="tt-img">
                            <img src="{{i.image.url}}" alt="Modern Smart Phone">
                        </div>
                        <h2 class="tt-title"><a href="#"> {{i.name|truncatewords:10}}</a></h2>
                        <br>
                        <a href="{% url 'cart_add' i.id %}" > Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>     
    {% endfor %}
    <!-- Modal wishlist -->
     {% for i in product %}
    <div class="modal customize-class fade" id="exampleModal-Wishlist-{{forloop.counter}}" tabindex="-1"   aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                    <div class="tt-modal-messages">
                        <i class="pe-7s-check"></i> Added to Wishlist successfully!
                    </div>
                    <div class="tt-modal-product">
                        <div class="tt-img">
                            <img src="{{i.image.url}}" alt="Modern Smart Phone">
                        </div>
                        <h2 class="tt-title"><a href="#">{{i.name|truncatewords:10}}</a></h2>
                        <br>
                        <form method="post" action="{% url 'add_to_wishlist' i.id %}" class="wishlist-form">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ i.id }}">
                            <button type="submit" >Add To Wish</button>
                        </form>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>   
    {% endfor %} 
    <!-- Modal compare -->
    
    <script>
        function loadWishlist() {
            fetch("{% url 'wishlist' %}")  // Create a URL that returns JSON wishlist data
                .then(response => response.text())
                .then(html => {
                    document.getElementById("wishlist-body").innerHTML = html;
                });
        }
        
        document.getElementById("wishlist-button").addEventListener("click", loadWishlist);
    </script>
    
   
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollUp.js' %}"></script>
    <script src="{% static 'assets/js/plugins/venobox.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/mailchimp-ajax.js' %}"></script>

 
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>
    <script src="{% static 'assets/js/main.min.js' %}"></script>

   
</body>



</html>