{% extends 'core/base.html' %}
{% block content %}
{% load static %}
	   <!-- Hero/Intro Slider Start -->
       <div class="section ">
        <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
            <!-- Hero slider Active -->
            <div class="swiper-wrapper">
                <!-- Single slider item -->
                <div class="hero-slide-item slider-height-2 swiper-slide bg-color1" data-bg-image="{% static 'assets/images/hero/inner-img/bearing.png' %}">
                    <div class="container h-100">
                        <div class="row h-100 flex-row-reverse">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                    <h2 class="title-1">Easy Your Life <br>
                                    For Smart Device </h2>
                                    <span class="price">
                                        <span class="mini-title">Only</span>
                                    <span class="amount">NRP.250.00</span>
                                    </span>
                                    <a href="{% url 'home' %}" class="btn btn-primary text-capitalize">Shop All Devices</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                                <div class="show-case">
                                    <div class="hero-slide-image slider-2">
                                        <img src="{% static 'assets/images/logo/1.webp' %}" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single slider item -->
                <div class="hero-slide-item slider-height-2 swiper-slide bg-color1" data-bg-image="{% static 'assets/images/hero/inner-img/bikepart.png' %}">
                    <div class="container h-100">
                        <div class="row h-100 flex-row-reverse">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                <div class="hero-slide-content hero-slide-content-2 slider-animated-1">
                                    <h2 class="title-1">Easy Your Life <br>
                                    For Smart Device </h2>
                                    <span class="price">
                                        <span class="mini-title">Only</span>
                                    <span class="amount">NRP.240.00</span>
                                    </span>
                                    <a href="{% url 'home' %}" class="btn btn-primary text-capitalize">Shop All Devices</a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center position-relative align-items-center">
                                <div class="show-case">
                                    <div class="hero-slide-image slider-2">
                                        <img src="{% static 'assets/images/logo/1.webp' %}" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <!-- Hero/Intro Slider End -->
    <!-- Banner Area Start -->
    <div class="banner-area style-two pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-banner nth-child-2 mb-lm-30px">
                        <img src="{% static 'assets/images/banner/bydcar.png' %}" alt="">
                        <div class="banner-content nth-child-3">
                            <h3 class="title">CAR PART</h3>
                            <span class="category">From 25.00</span>
                            <a href="{% url 'home' %}" class="shop-link">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-banner nth-child-2">
                        <img src="{% static 'assets/images/hero/inner-img/2.png' %}" alt="">
                        <div class="banner-content nth-child-2">
                            <h3 class="title">BIKE PART</h3>
                            <span class="category">From NRP. 95.00</span>
                            <a href="{% url 'home' %}" class="shop-link">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area End -->
    <!-- Product Area Start -->
    <div class="product-area pb-100px">
        <div class="container">
            <!-- Section Title & Tab Start -->
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">New Products</h2>
                        <p>There are many variations of passages of Lorem Ipsum available</p>
                    </div>
                </div>
            </div>
            <!-- Section Title & Tab End -->
            <div class="row">
                <div class="col">
                    <div class="row mb-n-30px">
                        {% for prod in product %}
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                            <!-- Single Prodect -->
                            <div class="product">
                                <span class="badges">
                                    <span class="new">{{prod.condition}}</span>
                                </span>
                                <div class="thumb">
                                    <a href="{% url 'product_detail' prod.id %}" class="image">
                                        <img src="{{prod.image.url}}" alt="Product" style="width: 200px; height: 200px; object-fit: cover;" />
                                        <img class="hover-image" src="{{prod.image.url}}" alt="Product" style="width: 200px; height: 200px; object-fit: cover;" />
                                    </a>
                                </div>
                                
                                <div class="content">
                                    <span class="category"><a href="{% url 'product_detail' prod.id %}">{{pro.category}}</a></span>
                                    <h5 class="title"><a href="{% url 'product_detail' prod.id %}">{{prod.name|truncatewords:10}}
                                        </a>
                                    </h5>
                                    <span class="price">
                                        <span class="new">NRP.{{prod.price}}</span>
                                    </span>
                                </div>
                                <!-- add to cart -->
                                <div class="actions">
                                    {% if request.user.is_authenticated %}
                                        <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart-{{forloop.counter}}">
                                            <i class="pe-7s-shopbag"></i>
                                        </button>
                                    {% else %}
                                        <a href="{% url 'login' %}" title="Add To Cart" class="action add-to-cart">
                                            <i class="pe-7s-shopbag"></i>
                                        </a>
                                    {% endif %}

                                    <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist-{{forloop.counter}}">
                                        <i class="pe-7s-like"></i>
                                    </button>
                                    <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal-{{forloop.counter}}">
                                        <i class="pe-7s-look"></i>
                                    </button>
                                    
                                </div>
                                
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area End -->
    <!-- Banner Area Start --><div class="banner-area style-three pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;">
                <div class="single-banner" style="width: 100%; height: 300px; position: relative; overflow: hidden; text-align: center; box-sizing: border-box;">
                    <img src="{% static 'assets/images/hero/inner-img/4.png' %}" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="banner-content nth-child-3" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center;">
                        <h3 class="title" style="font-size: 20px; margin: 0;">Car <br>Parts</h3>
                        <span class="category" style="font-size: 16px; display: block; margin: 10px 0;">From NRP.69.00</span>
                        <a href="{% url 'products' %}" class="shop-link" style="color: #fff; text-decoration: none; font-size: 14px; background: #000; padding: 5px 10px; border-radius: 5px;">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6" style="display: flex; justify-content: center; align-items: center; margin-bottom: 30px;">
                <div class="single-banner" style="width: 100%; height: 300px; position: relative; overflow: hidden; text-align: center; box-sizing: border-box;">
                    <img src="{% static 'assets/images/hero/inner-img/5.png' %}" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="banner-content nth-child-2" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center;">
                        <h3 class="title" style="font-size: 20px; margin: 0;">Car <br>Parts</h3>
                        <span class="category" style="font-size: 16px; display: block; margin: 10px 0;">From NRP.69.00</span>
                        <a href="{% url 'products' %}" class="shop-link" style="color: #fff; text-decoration: none; font-size: 14px; background: #000; padding: 5px 10px; border-radius: 5px;">Shop Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>

    <!-- Banner Area End -->
    <!-- Feature product area start -->
    <div class="feature-product-area pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2 class="title">Products</h2>
                        <p>There are many product to see....</p>
                    </div>
                </div>
            </div>
            <div class="feature-product-slider swiper-container slider-nav-style-1">
                <div class="swiper-wrapper">
                    {% for i in product %}
                    <div class="swiper-slide feature-right-content">
                        <div class="image-side">
                            <img src="{{i.image.url}}" alt="">
                            <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                                class="pe-7s-shopbag"></i></button>
                        </div>
                        <div class="content-side">
                            <div class="prize-content">
                                <h5 class="title"><a href="#">{{i.name}}</a></h5>
                                <span class="price">
                            <span class="old">NRP.{{i.old_price}}</span>
                                <span class="new">NRP.{{i.price}}</span>
                                </span>
                            </div>
                            <div class="product-feature">
                                <ul>
                                    {{i.information|safe}}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Arrows -->
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature product area End -->
    <!-- Fashion Area Start -->
    <div class="fashion-area" data-bg-image="{% static 'assets/images/hero/inner-img/3.png' %}">
        <div class="container h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 text-center">
                    <h2 class="title"> <span>Cars</span> Parts </h2>
                    <a href="{% url 'products' %}" class="btn btn-primary text-capitalize m-auto">Shop All Devices</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Fashion Area End -->
     
     

{% endblock content%}